.body2{
background-color: #185ADB;
}


.zoom {
  padding: 60px;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}

.Cards{
  width:100%;
  border: none;
}

.img{
  width:400px;
  height:400px;
}